/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/

dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow:hidden;
}

::selection {
  background: #1ABC9C;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #1ABC9C; /* Firefox */
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #1ABC9C; /* Safari */
  color: #FFF;
  text-shadow: none;
}

:active,
:focus { outline: none !important; }
