.header-extras {
    // display: none;
    margin-top: 0!important;
    text-align: center;
    li {
        margin-left: rem-calc(5)!important;
        margin-right: rem-calc(5)!important;
        display: inline-block;
        float: none;
    }
}