.sticky-style-2 {
    #logo {
        padding-top: rem-calc(29);
        padding-bottom: rem-calc(29);

        img {
            height: 42px;
            -webkit-transition: height .4s ease, opacity .3s ease;
            -o-transition: height .4s ease, opacity .3s ease;
            transition: height .4s ease, opacity .3s ease;
        }
    }
}

.product-quick-view {
    padding-top: rem-calc(15);
    .button.button-mini {
        margin: rem-calc(0);
        text-align: center;
    }
}

.product-add-to-cart-quick-view {
    height: 44px;
    line-height: 44px;
    a {
        display: block;
        float: left;
        width: 50%;
        font-size: 13px;
        color: #333;
        background-color: #F5F5F5;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.1);

        &.item-quick-view { border-right: 0; }

        i {
            position: relative;
            top: 1px;
            font-size: 14px;
            margin-right: 3px;
        }

        &:hover {
            background-color: #333;
            color: #FFF;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }
    }
}

.woocommerce-product-attributes td p:last-child {
    margin-bottom: 0;
}

.rating-star-container {
    display: inline-block;
    position: relative;
    width: rem-calc(101.25)!important;
    height: rem-calc(18)!important;
    line-height: rem-calc(18)!important;
    font-size: rem-calc(18)!important;
    & > span {
        position: absolute;
        top: 0;
        left: 0;
        height: rem-calc(18)!important;
        font-family: 'Font Awesome 5 Free';
        color: #1ABC9C;
        width: rem-calc(101.25)!important;
        &:before {
            width: rem-calc(101.25)!important;
            position: absolute;
            top: 0;
            left: 0;
            content: '\f005 \f005 \f005 \f005 \f005';
        }
    }
    .rating-front {
        font-weight: 700;
        overflow: hidden;
        &:before {
        }
    }
    .rating-back {
        font-weight: 400;
        &:before {
        }
    }
}

.tab-content {
    #comments {
        padding-top: 0;
        margin-top: 0;
        border-top: none;
    }
}

.comment-form-cookies-consent {
    label {
        font-weight: normal;
        text-transform: none;
        letter-spacing: normal;
    }
}

#woocommerce-product-gallery__images {
    &.owl-carousel {
        img {
            height: auto;
        }
        .owl-stage {
            padding-top: 0;
            padding-bottom: rem-calc(5);
        }
    }
}

#woocommerce-product-gallery__thumbnails {
    &.owl-carousel {
        img {
            height: auto;
        }
        .owl-stage {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.header-phones.header-extras {
    float: right;
    margin: 30px 0 0;

    li {
        float: left;
        margin-left: 20px;
        height: 40px;
        overflow: hidden;
        list-style: none;

        i {
            margin-top: 3px !important;
            font-size: 18px;
        }

        &:first-child { margin-left: 0; }

        .he-text {
            float: left;
            padding-left: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: rem-calc(40);

            span {
                display: block;
                font-weight: 400;
                color: #1ABC9C;
            }
        }
    }
}