.sticky-style-2 {
    #logo {
        padding-top: rem-calc(29);
        padding-bottom: rem-calc(29);

        img {
            height: 42px;
            -webkit-transition: height .4s ease, opacity .3s ease;
            -o-transition: height .4s ease, opacity .3s ease;
            transition: height .4s ease, opacity .3s ease;
        }
    }
}

.product-quick-view {
    padding-top: rem-calc(15);
    .button.button-mini {
        margin: rem-calc(0);
        text-align: center;
    }
}

.product-add-to-cart-quick-view {
    height: 44px;
    line-height: 44px;
    a {
        display: block;
        float: left;
        width: 50%;
        font-size: 13px;
        color: #333;
        background-color: #F5F5F5;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.1);

        &.item-quick-view { border-right: 0; }

        i {
            position: relative;
            top: 1px;
            font-size: 14px;
            margin-right: 3px;
        }

        &:hover {
            background-color: #333;
            color: #FFF;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }
    }
}

.woocommerce-product-attributes td p:last-child {
    margin-bottom: 0;
}